body {
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}
ul {
	margin: 0;
	padding: 0;
}
.container {
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}

.blue_theme {
	color: #fff;
	background-color: #369CD6;
	padding: 15px;
	margin: 10px 0;
}
/*HEADER*/
header {
	background: #369CD6;
	color: #fff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #D62225 3px solid;
}
header a {
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
}
header li {
	float: left;
	display: inline;
	padding: 0 20px;
}
.branding {
	float: left;
}
header nav {
	float: right;
	margin-top: 10px;
}
.branding h1 {
	margin: 0;
}

header .color, header .standard a {
	color: #000;
	font-weight: bold;
}
header a:hover {
	font-weight: bold;
	color: #00FFA9;
}
/*BANNER*/

.banner {
	min-height: 400px;
	background: url(../images/star_art.jpg) no-repeat 0;
	text-align: center;
	color: #fff;
}
.banner h1 {
	margin-top: 80px;
	margin-bottom: 10px;
	font-size: 50px;
}
.banner p {
	font-size: 20px;
}
/*SUBSCRIBE*/

.subscribe {
	padding: 15px;
	color: #fff;
	background: #369CD6;
}
.subscribe h2 {
	float: left;
}
.subscribe form {
	float: right;
	margin-top: 20px;
}
.subscribe input[type="email"]{
	padding: 4px;
	height: 25px;
	width: 250px;
}
.button{
	height: 35px;
	background: #D62225;
	border: 0;
	color: #fff;
	padding: 0 20px;
}
/*BOXES*/

.boxes {
	margin-top: 20px;
}

.boxes .box {
	float: left;
	width: 30%;
	padding: 10px;
	text-align: center;
}

.box img {
	width: 90px;
}
/*MAIN_LEFT*/
article.main_left {
	float: left;
	width: 65%;
}
/*MAIN_RIGHT*/

aside.main_right {
	width: 30%;
	float: right;
	margin-top: 10px;
}
/*FOOTER*/

footer {
	margin-top: 20px;
	padding: 20px;
	background-color: #D62225;
	text-align: center;
	color: #fff;
}

